<style>
  main {
    width: 100%;
    min-height: 100vh;
  }

  .content {
    width: 100%;
    height: 100vh;
  }

  .left-side, .right-side {
    height: 100vh;
  }


</style>

<main class="main">
  <div class="content">
    <p-splitter [panelSizes]="[20, 80]" >
      <ng-template pTemplate>
        <div class="left-side">
          <div [style]="{'height': '100%'}">
            <p-splitter [style]="{'height': '100%'}" layout="vertical" [panelSizes]="[50, 50]">
              <ng-template pTemplate>
                  <div class="col flex align-items-center justify-content-center">
                      <p-tree 
                      [value]="files"  
                      [filter]="true" 
                      filterPlaceholder="Lenient Filter" />
                  </div>
              </ng-template>
              <ng-template pTemplate>
                  <div class="col flex align-items-center justify-content-center" [style]="{'width': '100%'}">
                    <p-table [value]="data" [style]="{'width': '100%'}">
                      <ng-template pTemplate="header">
                          <tr>
                              <th>key</th>
                              <th>value</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                          <tr>
                              <td>{{ data.key }}</td>
                              <td>{{ data.value }}</td>
                          </tr>
                      </ng-template>
                  </p-table>
                  </div>
              </ng-template>
            </p-splitter>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="right-side" [style]="{'background': '#ff00', 'height': '100%'}">
          <app-editor></app-editor>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</main>

<router-outlet />
